
:global {
  html, body, #root {
    height: auto;
  }

  #root {

    .ant-table tr {

      th, td {
        text-align: center;
      }
    }
    .report-table .ant-table tr {

      th, td {
        padding: 0 3px;
      }
    }

  }


  .alert-talbe {
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
      padding: 10px 8px;
    }
  }


  .ant-modal-wrap,
  #root {
    .ant-select,
    .ant-menu-submenu-title,
    .ant-menu-item,
    .ant-input,
    .ant-btn,
    label,
    .ant-form-item,
    .ant-table {
      font-size: 14px;
    }
  }
}

