
:global {
  html, body, #root {
    height: auto;
  }

  #root {
    .ant-form-inline .ant-form-item {
      margin-bottom: 12px;
    }

    .ant-table tr {

      th, td {
        text-align: center;
      }
    }
  }
}

